mixin blogItem( name, img, hash, link)
  .blog-item.col-3.col-xs-12
    .blog-item-img.img-cover
      img(src= img, alt="")
    .blog-item-info
      .blog-item-hash.mobile.hidden
        a(href="#")= hash
      h3
        a(href="#")= name
      .blog-item-bottom 
        .blog-item-hash.hidden-sm
          a(href="#")= hash
        .blog-item-link 
          a(href="#")= link
//- mixin blogItem( img, data, name, text, link, btnText)
//- 	.blog-item.col-3.col-lg-4.col-sm-6.col-xs-6.col-xs-12
//- 		a.blog-item-img.img-cover(href=link)
//- 			img(src= img, alt="")
//- 		.blog-item-info
//- 			h3
//- 				a(href="#")= name
//- 			.blog-item-date= data